/* ---------------------------- */
/* base */
/* ---------------------------- */
ul {
    padding: 0;
}
li {
    list-style: none;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}
html {
    font-size: 62.5%;
    /*
html { font-size: 62.5%; } の概要
フォントサイズをピクセルで指定した場合、ユーザーがブラウザ設定でフォントサイズを変更していてもフォントの大きさは変わりません。
はっきり言ってアクセシビリティ的ではないので、相対でフォントサイズを指定できるremやemといった単位を使うのが最近の主流です。
ブラウザのデフォルトを変更していなければ、基準となるフォントサイズは16pxになりますが、1rem = 16pxという値は少々計算しづらい。
30pxにしたい時は1.875remと端数が出るし、計算機を叩くはめになるので、「ぱっと見でサイズが読めない」人も出てきます。
そこで、次のようにCSSを書いて、ルートフォントを10pxに変更するという手法が広まったようです。
16px * 62.5% = 10px
*/
}
body {
    font-size: 1.6rem;
    letter-spacing: 0.05em;
    color: #171717;
    font-family: 'Noto Serif', 'Noto Serif JP', serif;
}

img {
    width: 100%;
    vertical-align: bottom;
}

.section-wrapper {
    padding: 100px 0 70px;
}
.section-title {
    max-width: 1000px;
    color: #282f35;
    font-size: 6rem;
    font-style: italic;
    margin: 0 auto 80px;
    padding: 0 20px;
}
.section-title::after {
    content: '';
    display: inline-block;
    background-color: #282f35;
    width: 200px;
    height: 5px;
    margin-left: 30px;
    vertical-align: middle;
}
.section-inner {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 50px;
}
.section-bottom {
    max-width: 1200px;
    margin: 0 auto;
    font-size: 9rem;
    opacity: 0.05;
}

.link-btn {
    display: block;
    width: 235px;
    line-height: 60px;
    margin: 0 auto 70px;
    background-color: #f7d43f;
    box-shadow: 0 0 6px #1b1310;
    border-radius: 30px;
    text-align: center;
    color: #171717;
    font-weight: bold;
    text-decoration: none;
    transition: 0.3s;
}
.link-btn:hover {
    opacity: 0.7;
    transition: 0.3s;
}

.text-right {
    text-align: right;
}
.text-white {
    color: #fff;
}
.section-title.text-white::after {
    background-color: #fff;
}
.sp-br {
    display: none;
}

/* ---------------------------- */
/* header */
/* ---------------------------- */
.header {
    padding: 0px 30px 19px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    box-sizing: border-box;
    width: 100%;
    transition: 0.3s;
}
/*  */
/*
box-sizing
要素の幅（width）と高さ（height）の中にpaddingとborderを含めるかどうか」という設定ができる
box-sizing: content-box; ←初期値！
＿paddingとborderを幅と高さに含めない

box-sizing: border-box;
＿paddingとborderを幅と高さに含める

box-sizing: inherit;
＿親要素のborder-boxの値を引き継ぐ
 */

.header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}
.header a {
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
    font-weight: bold;
    font-style: italic;
}
.header a:hover {
    opacity: 0.7;
    transition: 0.3s;
}
.site-title {
    font-size: 2.6rem;
}
.nav-list {
    display: flex;
}
.nav-item {
    margin-right: 30px;
}
.nav-item:last-of-type {
    margin-right: 0;
}
.burger-btn {
    display: none;
}
.header.fixed {
    position: fixed;
    background-color: #282f35;
    width: 100%;
    transition: 0.3s;
}

/* ---------------------------- */
/* first view */
/* ---------------------------- */
.fv {
    height: 100vh;
    min-height: 550px;
    position: relative;
    background-size: cover;
    background-position: center;
}
.fv img {
    height: 100vh;
    min-height: 550px;
    object-fit: cover;
}

.main-copy {
    position: absolute;
    left: 120px;
    bottom: 177px;
    color: #fff;
    font-weight: bold;
}
.en-copy {
    font-size: 7rem;
    margin-bottom: 31px;
}
.jp-copy {
    font-size: 4rem;
    text-align: center;
}
.slick-arrow {
    display: none !important;
}
.slider {
    margin: 0;
    padding: 0;
}

/* ---------------------------- */
/* concept */
/* ---------------------------- */
.concept-lead {
    text-align: center;
    font-size: 3rem;
    margin-bottom: 60px;
    font-weight: bold;
    line-height: 1.7;
}
.concept-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 70px;
}
.concept-text {
    /* font-size: 1.41rem; */
    max-width: 440px;
    width: 100%;
    line-height: 1.9;
    font-weight: bold;
}
.concept-img-wrapper {
    max-width: 440px;
    width: 100%;
    margin-left: 20px;
}

/* ---------------------------- */
/* works */
/* ---------------------------- */
.bg-works {
    background-image: url(../img/works-bgi@2x.jpg);
    background-size: cover; /* 画像が全て入らなくてもいいので、余白なく背景を画像で埋めたいときに使用。余白を埋めるために画像を伸ばすのではなく、等比率で伸縮。 */
    background-position: center; /* 画像の表示位置を指定。「center」で中心揃え、「left top」で左上、「30px 30px」は「x y」要素の左端から30px、要素の上端から30px */
}
.works-list {
    max-width: 1000px;
    margin: 0 auto 80px;
    padding: 0 50px;
    display: flex;
    justify-content: space-between;
}
.works-item {
    width: 32%;
    background-color: #fff;
}
.works-item a {
    color: #141414;
    text-decoration: none;
}
.works-list-text {
    padding: 25px 20px;
}

/* ---------------------------- */
/* service */
/* ---------------------------- */
.service-list {
    display: flex;
}
.service-item {
    width: 33.3%;
}
.service-item.service1 {
    background-image: url(../img/servise-img01@2x.jpg);
    background-size: cover;
    background-position: center;
}
.service-item.service2 {
    background-image: url(../img/servise-img02@2x.jpg);
    background-size: cover;
    background-position: center;
}
.service-item.service3 {
    background-image: url(../img/servise-img03@2x.jpg);
    background-size: cover;
    background-position: center;
}
.service-item a {
    text-decoration: none;
    display: block;
    width: 100%;
    text-align: center;
    color: #fff;
    line-height: 320px;
    font-size: 4rem;
    font-weight: bold;
    font-style: italic;
    transition: 0.3s;
}
.service-item a:hover {
    background-color: rgba(40, 47, 53, 0.7);
    transition: 0.3s;
}

/* ---------------------------- */
/* contact */
/* ---------------------------- */
.bg-contact {
    background-image: url(../img/contact-bgi@2x.jpg);
    background-size: cover;
    background-position: center;
}
.contact-text {
    text-align: center;
    color: #fff;
    font-size: 2rem;
    margin-bottom: 40px;
}

/* ---------------------------- */
/* footer */
/* ---------------------------- */
.footer {
    padding: 30px 0;
    text-align: center;
    font-size: 1.4rem;
    font-weight: bold;
    color: #282f35;
}

@media screen and (max-width: 768px) {
    /* ---------------------------- */
    /* base_sp */
    /* ---------------------------- */
    .section-wrapper {
        padding: 100px 0 40px;
    }
    .section-title {
        padding: 0 4vw;
        font-size: 3rem;
        margin-bottom: 50px;
    }
    .section-title::after {
        width: 90px;
    }
    .section-inner {
        padding: 0 4vw;
    }
    .section-bottom {
        font-size: 4rem;
        padding: 0 4vw;
    }
    .link-btn {
        margin-bottom: 40px;
    }
    /* ---------------------------- */
    /* header_sp */
    /* ---------------------------- */
    .header {
        padding: 30px 4vw 0;
    }
    .header-nav {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background-color: #282f35;
    }
    .nav-list {
        height: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .nav-item {
        margin: 0 0 30px;
    }
    .nav-item:last-of-type {
        margin-bottom: 0;
    }
    .burger-btn {
        display: block;
        position: absolute;
        top: 30;
        right: 4vw;
    }
    .burger-btn .bar {
        display: block;
        height: 3px;
        width: 30px;
        background-color: #fff;
        transition: 0.3s;
    }
    .bar_top,
    .bar_mid {
        margin-bottom: 8px;
    }
    .burger-btn.cross .bar_top {
        /* 「burger-btn」に「cross」が付いたときの「bar_top」 */
        transform: rotate(45deg) translate(8px, 8px);
        transition: 0.3s;
    }
    .burger-btn.cross .bar_mid {
        opacity: 0;
    }
    .burger-btn.cross .bar_bottom {
        transform: rotate(-45deg) translate(8px, -8px);
    }
    body.noscroll {
        overflow: hidden;
    }

    button {
        background-color: transparent;
        border: none;
        cursor: pointer;
        outline: none;
        padding: 0;
        appearance: none;
    }
    .sp-br {
        display: block;
    }
    .pc-br {
        display: none;
    }

    /* ---------------------------- */
    /* fv_sp */
    /* ---------------------------- */
    .main-copy {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        white-space: nowrap;
    }
    .en-copy {
        font-size: 9.8vw;
        white-space: nowrap;
    }
    .ja-copy {
        font-size: 8vw;
    }
    /* ---------------------------- */
    /* concept_sp */
    /* ---------------------------- */
    .concept-lead {
        font-size: 2rem;
        margin-bottom: 32px;
    }
    .concept-content {
        display: block;
        margin-bottom: 40px;
    }
    .concept-text {
        margin-bottom: 30px;
    }
    .concept-img-wrapper {
        margin: 0;
    }

    /* ---------------------------- */
    /* works_sp */
    /* ---------------------------- */
    .works-list {
        display: block;
        padding: 0 4vw;
        margin-bottom: 80px;
    }
    .works-item {
        width: 320px;
        max-width: 100%;
        margin: 0 auto 30px;
    }

    /* ---------------------------- */
    /* service_sp */
    /* ---------------------------- */
    .service-list {
        display: block;
        margin-bottom: 40px;
    }
    .service-item {
        width: 100%;
        margin-bottom: 30px;
    }
    .service-item a {
        line-height: 250px;
    }
}
